{% extends 'base.html' %}

{% block head_title %}
{{ title }}
{% endblock %}

{% block content %}
    {% include 'todo/form.html' %}
        {% for obj in object_list %}
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <p class="card-text text-center h3"> <b>Task - </b> {{ obj.text }}</p>
                    <a href="{{ obj.slug }}/edit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit Task" data-animation="true">Edit Task</a>
                    <a href="{{ obj.slug }}/delete" class="btn btn-danger float-lg-right" data-toggle="tooltip" data-placement="top" title="Delete Task">Delete Task</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}